*.out
TODO
.vs
*.exe
.vscode
ISM-Overview.pptx
*.o
.vscode/settings.json
settings.json
*.class 
.mtj.tmp/ 
*.jar 
*.war 
*.ear
hs_err_pid* 
.idea/* 
.DS_Store 
.idea/shelf 
/android.tests.dependencies 
/confluence/target
/dependencies 
/dist 
/gh-pages 
/ideaSDK 
/android-studio/sdk 
out 
tmp 
workspace.xml 
*.versionsBackup
/idea/testData/debugger/tinyApp/classes* 
/jps-plugin/testData/kannotator 
ultimate/.DS_Store
ultimate/.idea/shelf 
ultimate/dependencies 
ultimate/ideaSDK 
ultimate/out 
ultimate/tmp
ultimate/workspace.xml 
ultimate/*.versionsBackup 
.idea/workspace.xml 
.idea/tasks.xml
.idea/dataSources.ids 
.idea/dataSources.xml 
.idea/dataSources.local.xml 
.idea/sqlDataSources.xml
.idea/dynamic.xml 
.idea/uiDesigner.xml 
.idea/gradle.xml 
.idea/libraries 
.idea/mongoSettings.xml 
*.iws
/out/ 
.idea_modules/ 
atlassian-ide-plugin.xml 
com_crashlytics_export_strings.xml
crashlytics.properties 
crashlytics-build.properties 
fabric.properties target/ 
pom.xml.tag
pom.xml.releaseBackup 
pom.xml.versionsBackup 
pom.xml.next 
release.properties 
dependency-reduced-pom.xml 
buildNumber.properties 
.mvn/timing.properties 
!/.mvn/wrapper/maven-wrapper.jar 
samples/* 
build/* 
.gradle/* 
!libs/*.jar 
!Releases/*.jar 
credentials*.gradle gen
/.vs
/data_structures_and_algorithms/Mansoura-1st-2017-2018/Lecture-01/.vs
/data_structures_and_algorithms/Mansoura-1st-2017-2018/Lecture-01/Assignment/.vs/recursiveBinarySearch/v15
/data_structures_and_algorithms/Mansoura-1st-2017-2018/Lecture-01/Assignment
/data_structures_and_algorithms/testzz
